.spinner-wrapper {
	.components-spinner {
		float: none !important
	}
}

.wpum-panel-setting {
	p {
		margin: 10px 0;
		text-align: center;
	}

	ul {
		margin-top: 10px;
		list-style-type: none;
		border: 1px solid #E3E4E7;
	}

	li {
		overflow: auto;
		margin: 0;
		padding: 10px;

		&:not(:first-child) {
			border-top: 1px solid #E3E4E7;
		}

		&:hover {
			background: #efefef;
			cursor: pointer;
		}
	}

	img {
		display: inline-block;
		float: left;
		margin-right: 4px;
		width: 32px;
		height: 32px;
	}
}

.wpum-taxonomies-checkboxes {
	.components-base-control {
		margin-bottom: 0 !important;
	}
}

.wpum-terms-selector {
	.components-form-token-field {
		margin-top: 2em;
	}
}

.wpum-template {
	.card {
		max-width: initial;
		padding: 0;
	}
}
